<html>
    <head>
        <title>THIS IS A DEMO TEMPLATE</title>
    </head>
    <body>
        {% if var %}
        <h1>Passed in variable: {{ var }}</h1>
        {% else %}
        <h1>No variable passed</h1>
        {% endif %}

        <h1>this is first header</h1>
        <p> ahswh shssm kjdnk asjdf bbdkd fjskc</p>
        <a href="www.youtube.com">www.youtube.com</a>
        {% for link in links %}
        <a href="{{ link }}">here is a link</a>
        {% endfor %}
        <h3>END OF TEMPLATE.!!</h3>
    </body>
</html>