atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
distlib==0.3.4
filelock==3.6.0
Flask==2.1.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
mariadb==1.0.10
MarkupSafe==2.1.1
marshmallow==3.15.0
marshmallow-sqlalchemy==0.28.0
mock==4.0.3
mysql==0.0.3
mysql-connector-python==8.0.28
mysqlclient==2.1.0
ordering==0.2.0
packaging==21.3
platformdirs==2.5.1
pluggy==1.0.0
protobuf==3.20.0
py==1.11.0
pyparsing==3.0.8
pytest==7.1.2
pytest-mock==3.7.0
requests==2.27.1
simplejson==3.17.6
six==1.16.0
SQLAlchemy==1.4.35
tomli==2.0.1
urllib3==1.26.9
virtualenv==20.13.3
Werkzeug==2.1.1
python-dotenv-0.20.0
click==8.1.2
colorama==0.4.4
distlib==0.3.4
filelock==3.6.0
Flask==2.1.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.1
mariadb==1.0.10
MarkupSafe==2.1.1
mysql==0.0.3
mysql-connector-python==8.0.28
mysqlclient==2.1.0
platformdirs==2.5.1
protobuf==3.20.0
simplejson==3.17.6
six==1.16.0
SQLAlchemy==1.4.35
virtualenv==20.13.3
Werkzeug==2.1.1